@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}                                                

body{
    background-color: black;
}
header{
    max-width: 1060px;
    margin: 0 auto;
}
main section{
    max-width: 1040px;
}

/* shared related style */

.color-code{
    color: #E6533C;
}

.description-color{
    color: rgba(255, 255, 255, 0.5);
}

/* navbar related styles */

.nav-title{
    font-size: 2.25rem;
    font-weight:800;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 32px;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 47px;
    border: 1px solid #222222;
    border-radius: 39px;
    height: 46px;
}
.home-btn{
    padding: 8px 20px;
    border-radius: 46px;
    background-color:#E6533C ;
    font-size: 1.125rem;
    border: none;
    margin-left: 5px;
}
.btn{
    padding: 8px 20px;
    border-radius: 46px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.125rem;
}
/* banner related styles */

.banner-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner-details{
    width: 50%;
    padding-top: 60px;
}
.banner-title{
    color: white;
    font-size: 4.75rem;
    margin-bottom: 28px;
    line-height: 120%;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 28px;
}
.primary-btn{
    color: white;
    background-color: #E6533C;
    padding: 16px 46px;
    border-radius: 42px;
    border: none;
}
.banner-btn{
    color: white;
    border-radius:42px ;
    background-color: transparent;
    padding: 16px 46px;
    border: 1px solid;
}
.banner-img{
    width: 35%;
    border: 2px solid white;
}
#banner-card-1{
    width: 200px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border:2px solid white;
    position: absolute;
    top: 140px;
    right: 40px;
}   

#banner-card-2{
    width: 190px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border:2px solid white;
    position: absolute;
    bottom: 60px;
    right: 350px;
}
/* habit related styles  */
.habit-section{
    margin: 0 auto;
    margin-top: 100px;
}
.habit-container{
    text-align: center;
}
.habit-cards-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.habit-details{
    /* width: 670px; */
    margin: 0 auto;
}
.habit-title{
    color: white;
    font-size: 3rem;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 55px;
}
.habit-card{
    width: 230px;
}
.habit-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.card-title{
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
    
}
.card-para{
    color: rgba(255, 255, 255, 0.5);
    width: 230px;
    font-size: .875rem;
    line-height: 18px;
    margin-top: 6px;

}

/* run easily section related styles */
.run-section{
    margin: 0 auto;
    margin-top: 100px;
}

.run-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 10px;
    padding: 30px;
    /* padding: 40px 50px; */
}
.run-details{
    width: 440px;
    /* height: 290px; */
    text-align: start;
    padding: 10px 20px;
}
.run-div{
    width: 345px;
    height: 312px;
}
.run-title{
    color:white;
    font-size: 3rem;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 34px;
}
.run-btn{
    padding: 16px 70px;

}

.run-image{
   width: 100%;
   height: 100%;
   border-radius: 18px;

}
/* Calculator related styles */
.calculator-heading{
    width: 670px;
    margin: 0 auto;
    margin-top: 90px;
}
.table{
    /* width: 400px; */
    /* height: 300px; */
    margin-top: 52px;
}
table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    margin-top: 52px;
}
th, td{
    border:1px solid  rgba(255, 255, 255, 0.1);
}
th{
    text-align: start;
    padding: 15px 19px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
td{
    padding-left: 20px;
    color: rgba(82, 82, 82, 1);
    text-align: start;
    font-size: 0.875rem;
    line-height: 120%;
}
.calculator-section{
    max-width: none;
   
}
.calculator-title{
  font-size: 1.75rem;
  color: #FFFFFF;
  line-height: 120%;
  margin-bottom: 14px;
}
.calculator-container{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   gap: 175px;
   
}
.form{
    /* width: 580px; */
    /* border: 2px solid thistle; */
    margin:50px;
}
.form-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 34px;
}
#form-item-5{
    grid-column: span 2;
    padding: 13px 20px;
    border-radius: 8px;
    color:  rgba(255, 255, 255, 0.6);
    /* color: rgba(56, 56, 56, 1); */
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1rem;
    line-height: 22px;
    width: 92.5%;
}
.item-1{
    padding: 13px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1rem;
    line-height: 22px;
    width: 85%;
}

/* our team related styles */
.team{
    margin: 0 auto;
    margin-top: 90px;
}

.team-container{
    border: 2px solid red;
    
}
.team-details{
    text-align: center;
}
.team-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.team-pic-1{
    width: 322px;
    height: 272px;
   
}
.team-title{
    color:#FFFFFF;
    font-size: 1.25rem;
    line-height: 120%;
    
}
.tainer-name{
    /* height: 20%; */
    position: absolute;
    left: 0;
    bottom: 0;
}
/* footer related styles */
.footer-section{
    background-color: #222222;
    margin-top: 90px;
    /* height: 490px; */
    padding-top: 66px;
    
}
.footer-container{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
}
.brand{
    font-size: 4.375rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 20px;
}
.foot-descrip{
    font-size: 0.875rem;
    line-height: 24px;
}
.footer-title{
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
}
.footer-para{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 36px;
    padding-bottom: 36px;
}
.footer-list{
    margin-bottom: 20px;
}
/* responsive media query */
@media screen and (max-width:576px){

    .nav-container{
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column;
    }
    .habit-cards-group{
        flex-direction: column;
            /* align-items: center; */
            /* margin: 0 auto; */
    }
       
    .habit-title{
        text-align: center;
    }
    .habit-description{
        width: 318px;
        margin-left: auto;
        margin-right: auto;
    }

    .run-container{
        flex-direction: column;
        /* margin-left: 5px; */
    }
    .run-details{
        margin: 0 auto;
    }
    .run-title{
        margin-left: 20px;
    }
    .run-btn{
        margin-left: 15px;
        padding: 16px 140px;
    }
    .run-description{
        text-align: start;
        width: 280px;
        margin-left: 20px;
    }
    .team-photos{
    grid-template-columns: 1fr;
    }
    .full-calculator{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .calculator-container{
        flex-direction: column;
    }
    footer{
        /* margin-left: 35px; */
    }
    .footer-container{
        flex-direction: column;
        padding-left: 20px;
    }
    .foot-descrip{
        margin-bottom: 30px;
    }

    
}