@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family:"Inter";
  font-optical-sizing: auto;
  /* font-weight: 600; */
  font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}                                                

body{
    background-color: black;
}

main section{
    max-width: 1040px;
}

/* shared related style */

.color-code{
    color: #E6533C;
}

.description-color{
    color: rgba(255, 255, 255, 0.5);
}
/* header styles */
header{
    background-image: linear-gradient(rgb(17, 17, 17),rgba(78, 78, 78, 0.404),rgba(119, 119, 119, 0));
    padding-top: 60px;
}

/* navbar related styles */
.navbar, .banner-section{
    max-width: 1060px;
    margin: 0 auto; 
}

.nav-title{
    font-family:"Inter";
    font-size: 2.25rem;
    font-weight:800;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 47px;
    border: 1px solid #222222;
    border-radius: 39px;
    height: 46px;
}
.home-btn{
    font-family:"Inter";
    padding: 8px 20px;
    border-radius: 46px;
    background-color:#E6533C ;
    font-size: 1.125rem;
    border: none;
    color: white;
    margin-left: 5px;
}
.btn{
    font-family:"Inter";
    padding: 8px 20px;
    border-radius: 46px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.125rem;
}
.hamburger{
    color: #FFFFFF;
    display: none;
}
/* banner related styles */

.banner-section{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.banner-details{
    width: 50%;
    padding-top: 60px;
}
.banner-title{
    font-family:"Inter";
    color: white;
    font-size: 4.75rem;
    margin-bottom: 28px;
    line-height: 120%;
}
#shape{
    font-family: 'Miama';                    
    font-size: 4.875rem;
    font-weight: 400;
    line-height: 120%;
}
.banner-description{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.primary-btn{
    font-family:"Inter";
    color: white;
    background-color: #E6533C;
    padding: 16px 46px;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
}
.responsive-btn{
    font-family:"Inter";
    color: white;
    background-color: #E6533C;
    padding: 16px 41px;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    display: none;
    line-height: 22px;
    
}
.banner-btn{
    font-family:"Inter";
    color: white;
    border-radius:42px ;
    background-color: transparent;
    padding: 16px 46px;
    border: 1px solid;
    margin-left: 14px;
    font-size: 1.125rem;
    font-weight: 600;
}
.banner-img{
    width: 35%;
    /* border: 2px solid white; */
}
.banner-pic{
    object-fit: contain;
    margin-left: 30px;
}
#banner-card-1{
    width: 130px;
    height: 62px;
    background-color:#3A3A3A;
    border-radius: 12px;
    position: absolute;
    top: 140px;
    right: -75px;
    padding:16px 24px ;
}   
.card1-title{
    font-family:"Inter";
    color: #FFFFFF;
    font-size: 2.5rem;
}
.card1-para{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .8125rem;
    line-height: 20px;
}
#banner-card-2{
    width: 190px;
    height: 95px;
    background-color: rgba(48, 48, 48, 0.54); 
    border-radius: 12px;
    position: absolute;
    bottom: 63px;
    right: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    backdrop-filter:blur(4px);
    /* padding: 28px 23px; */
}
.card-round-shape{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
    border: none;
    
}
#play-button{
    color: #FAFAF9;
    display: none;
}
.card2-title{
    font-family:"Inter";
    color: #FAFAF9;
    font-size: 1.5rem;
    /* font-weight: 700; */
}
.card2-para{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
    margin-top: 8px;
}
/* activity section related styles */
.activity{
    max-width:1060px;
    background-color: #222222;
    border-radius: 200px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}
.activity-title{
    font-family:"Inter";
    font-size: 2rem;
    font-weight: 700;
    color: #FAFAF9;
    line-height: 120%;
    margin-bottom: 15px;
}
.activity-para{
    font-family:"Inter";
    color: #fafaf9bf;
    font-size: 1rem;
    line-height: 36px;
}
.service{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.295) ;
    font-size: .875rem;
    line-height: 24px;
}
/* habit related styles  */
.habit-section{
    margin: 0 auto;
    margin-top: 100px;
}
.habit-container{
    text-align: center;
}
.habit-cards-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.habit-details{
    /* width: 670px; */
    margin: 0 auto;
}
.habit-title{
    font-family:"Inter";
    color: white;
    font-size: 3rem;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.habit-description{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 55px;
    margin-top: 14px;
}
.habit-card{
    width: 230px;
}
.habit-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.card-title{
    font-family:"Inter";
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
    margin-top: 30px;
    
}
.card-para{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    width: 230px;
    font-size: .875rem;
    line-height: 18px;
    margin-top: 6px;

}


/* run easily section related styles */
.run-section{
    margin: 0 auto;
    margin-top: 100px;
}

.run-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    border-radius: 18px;
    padding: 30px;
}
.run-details{
    width: 440px;
    /* height: 290px; */
    text-align: start;
    padding: 10px 20px;
}
.run-div{
    width: 345px;
    height: 312px;
}
.run-title{
    font-family:"Inter";
    color:white;
    font-size: 3rem;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.run-description{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 34px;
    margin-top: 14px;
}
.run-btn{
    font-family:"Inter";
    color: white;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 70px;

}

.run-image{
   width: 100%;
   height: 100%;
   border-radius: 18px;
   /* object-fit: cover; */
}
.responsive-pic{
    display: none;
    width: 100%;
    height: 100%;
}
/* Calculator related styles */
.calculator-section{
    max-width: none;
}
.calculator-heading{
    font-family:"Inter";
    width: 670px;
    margin: 0 auto;
    margin-top: 90px;
}
.bmi-title{
    font-family:"Inter";
    color: white;
    font-size: 3rem;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 0;
}
.calculate-para{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 90px;
    margin-top: 14px;
}
.bmi-chart{
    font-family:"Inter";
    font-size: 1.75rem;
    color: #FFFFFF;
    line-height: 120%;
    margin-bottom: 14px;
}
.table{
    /* width: 400px; */
    /* height: 300px; */
    margin-top: 52px;
}
table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    margin-top: 52px;
}
th, td{
    border:1px solid  rgba(255, 255, 255, 0.1);
}
th{
    font-family:"Inter";
    text-align: start;
    padding: 15px 19px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}
td{
    padding-left: 20px;
    /* color: rgba(82, 82, 82, 1); */
    color:rgba(145, 145, 145, 1);
    text-align: start;
    font-size: 0.875rem;
    line-height: 120%;
}


.form{
    /* width: 580px; */
    margin:50px;
}
.calculator-title{
    font-family:"Inter";
    font-size: 1.75rem;
    color: #FFFFFF;
    line-height: 120%;
    margin-bottom: 14px;
}
.calculator-description{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 34px;
    margin-top: 14px;
}
.calculator-container{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   gap: 175px;
   background-color: #222222;
   
}

.bmi-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .bmi-form input,
  .bmi-form select {
    width: 100%;
    box-sizing: border-box;
    padding: 13px 20px;
    border-radius: 8px;
    color: #666666;
    background-color: rgba(56, 56, 56, 1);
    border: none;
    font-size: 1rem;
    line-height: 22px;
  }
  
  .bmi-form .normal-input,
  .bmi-form #sex {
    grid-column: span 1;
  }
  
  .bmi-form #factor {
    grid-column: span 2;
  }
  #sex , #factor{
    Border-right: 20px solid transparent;
  }
.calculate-btn {
    font-family:"Inter";
    color: white;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 70px;
    margin-top: 34px;

}
/* our team related styles */
.team{
    margin: 0 auto;
    margin-top: 90px;
}
.team-para{
    font-family:"Inter";
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
    margin-bottom: 55px;
    margin-top: 15px;
}

.team-container{
    /* border: 2px solid red; */
    
}
.team-details{
    text-align: center;
}
.team-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color:#222222ac;
    border-radius: 18px;

}
.team-card{
    position: relative;
    height: 272px;
   
}
.bg-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
}
.team-pic-1{
    /* width: 322px;
    height: 272px; */
   width: 100%;
   height: 100%;
}
.team-title{
    font-family:"Inter";
    color:#FFFFFF;
    font-size: 1.25rem;
    line-height: 120%;
    
}
.trainer-name{
    position: absolute;
    left: 20px;
    bottom: 16px;
}
.trainer{
    color: rgba(255, 255, 255, 0.5);
    font-size: .875rem;
    line-height: 24px;
}
.team-reverse-pic{
    display: none;
}
/* footer related styles */
.footer-section{
    background-color: #222222;
    margin-top: 90px;
    padding-top: 66px;
    
}
.footer-container{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 60px;
}
.brand{
    font-family:"Inter";
    font-size: 4.375rem;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 20px;
}
.footer-content{
    width: 440px;
}
.foot-descrip{
    font-family:"Inter";
    font-size: 0.875rem;
    line-height: 24px;
}
.footer-title{
    font-family:"Inter";
    color: #FFFFFF;
    margin-bottom: 30px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;
}
.footer-para{
    font-family:"Inter";
    text-align: center;
    font-size: 1.25rem;
    margin-top: 36px;
    padding-bottom: 36px;
    line-height: 24px;
}
.footer-details{
    margin-right: 80px;
    gap-bottom: 0;
}
.footer-list{
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 120%;
}
hr{
    height: 2px;
    background-color:rgba(255, 255, 255, 0.1) ;
    border: none;
    width: 70%;
    margin: 0 auto
}
.foot-inform{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* responsive media query */

@media screen and (max-width:576px){
    header{
        padding-top: 50px;
    }
    .navbar,.banner-section{
        width: 100%;
    }

    .nav-container{
        padding: 0 20px;
        margin-bottom: 50px;
    }
    .nav-btn{
        display: none;
    }
    .hamburger{
        display: block;
    }
    /* responsive banner section */
    .banner-section{
        flex-direction: column;
    }
    .banner-details{
        width: 90%;
        padding: 0 20px;
    }
    .banner-title{
        font-size: 2.25rem;
        width: 65%;
    }
    #shape{
        font-size: 2.25rem;
    }
    .banner-description{
        width: 70%;
    }
    .primary-btn{
        display: none;
    }
    .banner-btn{
        padding: 16px 21px;
    }
    .responsive-btn{
        display: inline;
        
    }
    .banner-img{
        width: 90%;
        padding: 0 20px;
        margin-top: 48px;
    }
    #banner-card-1{
        width: 105px;
        height: 50px;
        right: 73px;
        top: 450px;
        padding: 12px 18px;
        border: .5px solid rgba(255, 255, 255, 0.1);
        
    }
    .card1-title{
        font-size: 1.875rem;

    }
    .card1-para{
        font-size: 0.625rem;
    }
    #banner-card-2{
        bottom: 243px;
        left: 30px;
        height: 75px;
        width: 157px;
        border: .5px solid rgba(255, 255, 255, 0.1);
        
    }
    .card2-title{
        font-size: 1.125rem;
    }
    .card2-para{
        font-size: .75rem;
    }
    .card-round-shape{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #play-button{
        display: block;
    }
    
    .banner-pic{
        margin: 0;
    }

    /* responsive unique section  */
    .activity{
        flex-direction: column;
        border-radius:18px ;
        width: 80%;
        margin: 0 20px;
        margin-top: 66px;
        margin-bottom: 50px;
    }  
    .activity-para{
        margin-bottom: 5px;
    }
    .service{
        margin-bottom: 30px;
        line-height: 10px;
    }
    /* responsive habit section */
    .habit-section{
        margin-top: 0;
    }
    .habit-container{
        padding: 0 28px;
    }
    .habit-title{
        text-align: center;
        font-size: 1.875rem;
    }
    .habit-details{
        text-align: justify;
    }
    .habit-description br{
        display: none;
    }
    .habit-description{
        width: 95%;
        margin: 14px 11px 58px;
        text-align:center;
    }
    .habit-cards-group{
        flex-direction: column;
    }
    /* responsive run section*/
    .run-section{
        width: 100%;
        margin-top: 66px;
    }
    .run-container{
        flex-direction: column;
        margin: 0 20px;
    }
    .run-details{
        width: 100%;
        padding: 0 30px;
        padding-bottom: 31px;
    }
    .run-title{
        font-size: 2rem;
    
    }
    .run-btn{
        width: 100%;
       
    }
    .run-div{
        width: 100%;
        height: 170px;
    }
    .run-image{
        display: none;
    }
    .responsive-pic{
        display:block ;
        border-radius: 18px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position:100% 0% ;
    }
    .run-description{
        text-align: start;
        width: 100%;
        margin-bottom: 24px;
    }
   
    /* responsive calculator section */
    .calculator-section{
        width: 100%;
    }
   
    .calculator-heading{
        width: 90%;
        text-align: start;
        margin: 66px 20px 32px;
    }
    .bmi-title{
        font-size: 2rem;
    }
    .calculate-para{
        margin-bottom: 32px;
        width: 80%;
    }

    .calculator-container{
        flex-direction: column;
        gap: 0;
       
    }
    .form{
        margin: 0;
    }
    .bmi-form{
        width: 90%;
        padding: 0 20px;
    }
    .bmi-chart,.calculator-title{
        font-size: 1rem;
    }
    .bmi-chart{
        margin-bottom: 0;
    }
    table{
        margin-top: 23px;
    }
    .table{
        margin-top: 34px;
        padding: 0 20px;
    }
    .calculator-details{
        padding: 0 20px;
        margin-top: 42px;
    }
    .calculate-btn{
        margin-left: 20px;
        margin-bottom: 42px;
    }
    
    /* responsive team section */
    .team{
        margin-top: 0;
    }
    .team-details{
        margin: 0 42px;
        margin-bottom: 37px;
        margin-top: 66px;
    }
    .team-para{
        margin-bottom: 0;
    }
    .team-photos{
        grid-template-columns: 1fr;
        margin: 0 20px;
    }
    .responsive-team-pic{
        display: none;
    }
    .team-reverse-pic{
        display: block;
    }
    /* responsive footer section */
    .footer-section{
       width: 100%;
       padding-top: 44px;
       margin-top: 66px;
    }
    .footer-container{
        /* width: 100%; */
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .foot-descrip br{
        display: none;
    }
    .foot-descrip{
        margin-bottom: 30px;
        text-align: start;
    }
    .footer-content{
        width: 75%;
        /* margin-left: 20px; */
    }
    .footer-title{
        margin-bottom: 40px;
    }
    .footer-para{
        text-align: start;
        margin-left: 20px;
    }
    hr{
        width: 90%;
    }
    .foot-inform{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:576px) and (max-width:992px){
    /* responsive navbar */
    
    .navbar, .banner-section{
        max-width: none;
    }
    .nav-container{
        margin: 0 30px;
    }
    .nav-btn{
        gap: 20px;
    }
    .btn{
        font-size: 1rem;
    }
    .home-btn{
        font-size: 1rem;
    }
    /* responsive banner section */
    .banner-section{
        flex-direction: column;
    }
    #banner-card-1{
        right: 210px;
        top: 675px;
    }
    #banner-card-2{
        right: 430px;
        bottom: 240px;
    }
    .banner-details{
        width: 81%;
        margin: 0 72px;
    }
    .banner-img{
        width: 50%;
        margin: 100px 160px;
    }
    /* responsive habit section */
    .habit-section{
        max-width: none;
    }
    .habit-cards-group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .habit-container{
        margin: 0 88px;
        margin-bottom: 84px;
    }
    .habit-description br{
        display: none;
    }
    /* responsive run section */
    .run-container{
        margin: 0 30px;
    }
    .run-title{
        font-size: 2.25rem;
    }
    .run-description{
        width: 70%;
    }
    /* responsive calculator section */
    .calculator-container{
        flex-direction: column;
        gap: 0;
    }
    .form{
        margin: 60px 30px 38px 30px;
    }
    .table{
        margin-left: 30px;
        margin-top: 34px;
    }
    .calculate-para{
        margin-bottom: 46px;
    }
    .calculator-heading{
        margin: 70px 0 0 30px;
        width: 70%;
    }

    /* responsive team section  */
    .team-photos{
        margin: 0 33px;
    }
    /* responsive footer section */
    .footer-section{
        background-color: #191919;
    }
    .footer-details{
        /* display: grid; */
        /* grid-row: span 1; */
    }
    .footer-container{
        flex-direction: column;
        margin-left: 30px;
    }
    .foot-inform{
        margin-top: 100px;
    }
    hr{
        width: 93%;
    }
}

